.intro-flex {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 110px;
}

.intro-left {
  max-width: 518px;
  width: 100%;

  &__title {
    font-size: $title-text-font-size;
    line-height: $title-text-line-height;
    color: $black-dark;
  }

  &__text {
    font-size: $general-text-font-size;
    line-height: 28px;
    max-width: 458px;
    width: 100%;
  }

  &__buttons {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
    padding: 0;
    list-style: none;

    .btn-orange {
      margin-right: 30px;
    }
  }

  &__buttons img {
    margin-right: 9px;
  }
}
